<!DOCTYPE html>
    {% load staticfiles %}
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Django Girls blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <style>
            #div{
                width: 800px;
                height: 100px;

                position: absolute;
                left: -webkit-calc(50% - 400px);
                top: -webkit-calc(50% - 50px);
            }
            </style>
        </head>
        <body>
            <div class="page-header">
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
            <div class="container"  id="div">
                <div class="row">
                    <div class="col-xs-7 col-md-7 col-xs-offset-3 col-md-offset-3">
                    <form class="form-horizontal" role="form" action="{% url 'do_login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="col-sm-2  control-label">用户名</label>
                            <div class="col-sm-10">
                                <input id="username" type="text" name="username" value="{{username}}" placeholder="请输入名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input id="password" type="password" name="password" value="{{password}}" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                {% if error_message %}
                                <p><strong>{{ error_message }}</strong></p>
                                {% endif %}
                                <button type="submit" class="btn btn-default">登录</button>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" role="form" action="{% url 'register' %}" method="get">
                        {% csrf_token %}
                        <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">注册</button>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </body>
    </html>