{% extends 'blog/base.html' %}

{% block head %}
    <script>
        function checkcomment(){
            if($('#onecomment').val().length < 10){
                alert('评论不能少于10字');
            }
        }
// http://www.w3school.com.cn/tiy/t.asp?f=jseg_confirm 登录后评论的实现
        function clickcommentbtn(){
            if ($("#onecomment").css("display")=="none"){
                $("#onecomment").css("display", "inline-block");
            }else if ($("#onecomment").css("display")=="inline-block"){
                if ($('#onecomment').val().length < 10){
                    alert('评论不能少于10字');
                }else if($('#onecomment').val().length >= 10 && $("#onecomment").css("display")=="inline-block"){
                    $.post("{% url 'comment_on' pk=post.pk %}", {
                        "csrfmiddlewaretoken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        "onecomment":$("#onecomment").val()
                        }, function(data, status){
                        if (status == "success"){
                        window.location.reload()
                        }
                    });
                    $("#onecomment").css("display")=="none";
                }
            }
        }

        function delcomment(elem){
            $.post("{% url 'del_comment' pk=post.pk %}", {
                "csrfmiddlewaretoken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
                "delthiscomment": $(elem).parent().find("input").val()
                }, function(data, status){
                if (status == "success"){
                window.location.reload()
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div  class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
            <br />
            <div class="date">
                {{ post.author }}
            </div>
        {% endif %}
        {% if post.author == user %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

    <br />

<form action="{% url 'click_like' pk=post.pk %}" method="post">
{% csrf_token %}
    {% if likeituserstate is False %}
    <button type="submit" name="clicklikeit"  value="clicklikeit" class="btn btn-default">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 已赞同 {{likeit.count}}
    </button>
    {% else %}
    <button type="submit" name="clicklikeit"  value="clicklikeit" class="btn btn-primary">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞同 {{likeit.count}}
    </button>
    {% endif %}
</form>

<br />
点赞数：{{likeit.count}}<br />
{% for onelike in likeit %}
{{onelike}}
{% endfor %}

<br />

<form>
    <input class="form-control" style="display:none;" type="text" id="onecomment" name="onecomment" placeholder="输入评论" onblur="checkcomment()">
    <button type="button" id="buttoncomment" class="btn btn-primary" onclick="clickcommentbtn()">评论</button>
</form>

评论（{{comments.count}})

<!--<form name="commentform">-->
    {% for comment in comments %}
    {{ comment.user }}
    {{ comment.id }}
    <div class="date">
        {{ comment.time }}
    </div>
    <br />{{ comment.content }}
    <br />
    {% if comment.user == request.user or post.author == request.user %}
    <div id="comment{{ forloop.counter }}">
    <input type="hidden" name="delthiscomment" value="{{ comment.id }}">
    <a href="javascript:void(0);" onclick="delcomment(this)">删除评论</a>
    </div>
    {% endif %}<br>
    {% empty %} 暂无评论
    {% endfor %}
<!--</form>-->

{% endblock %}