<!DOCTYPE html>
    {% load staticfiles %}
    <html>
        <head>
            <title>Django Girls blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <style>
            #div{
                width: 400px;
                height: 100px;
                /*background: red;*/
                position: absolute;
                left: -webkit-calc(50% - 200px);
                top: -webkit-calc(50% - 50px);
            }
            </style>
        </head>
        <body>
            <div class="page-header">
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
            <div class="col-xs-offset-2 col-sm-offset-4 col-md-offset-4 col-xs-8 col-sm-4 col-md-4">
            <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                    {{uf.username}}
                </div>
                <div class="form-group input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </div>
                    {{uf.password}}
                </div>
                <div class="form-group input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </div>
                    {{uf.passwordagain}}
                </div>
                <div class="form-group">
                    {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ error_message }}
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">注册</button>
                </div>
            </form>
            </div>
        </body>
    </html>


